/* LISTAS */
/*NAVBAR*/
.menu-container {
  font-size: 1rem;
}

ul {
  list-style: none;
}

nav {
  padding-top: 8px;
  height: 100px;
}

li a {
  text-decoration: none;
  color: white;
  transition: 0.2s all;
  position: relative;
  right: 0.5rem;
}
li a:hover {
  color: yellow;
}

.menu {
  color: black;
  letter-spacing: 3px;
  justify-content: center;
  text-align: center;
}

.logo {
  text-align: left;
  width: 50px;
  height: 50px;
}

.logo-text {
  color: white;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.footer {
  background-color: black;
  margin-bottom: 10px;
  position: fixed;
}

header {
  height: 750px;
  width: 100%;
  background-image: url("../images/portada-white.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-portada {
  width: 25rem;
  margin-top: 7rem;
}

.whatsapp-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  color: black;
  border-radius: 10px;
  font-weight: 800;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.whatsapp-button:hover {
  background-color: #aac750;
  color: white;
}

/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* LISTAS */
.boton-container {
  height: 600px;
  transition: 1s all;
}

.boton-1 {
  color: white;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  align-content: center;
  font-weight: bolder;
  transition: 0.5s ease-in-out;
  text-shadow: 10px 1px 25px black;
}

/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* LISTAS */
* {
  padding: 0;
  margin: 0;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-thumb {
  background: #0094dc;
  border-radius: 8px;
}
* ::-webkit-scrollbar-track {
  box-shadow: #eeeaf4 0px 0px 5px inset;
  border-radius: 10px;
}

body {
  line-height: 1.55;
  width: 100%;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}

nav {
  text-align: center;
}

.section {
  height: fit-content;
  padding: 3rem 10rem;
  text-align: center;
  justify-content: center;
}

.fondoverde {
  background-color: #87a041;
}

.fondoazul {
  background-color: #7f6b50;
}

.titulos {
  color: #5bad76;
  font-size: 4rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.parrafos {
  font-size: 1.5rem;
  padding: 4rem 8rem;
  font-family: "Montserrat", sans-serif;
}

.img-lahosteria-cont {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.img-lahosteria {
  width: 40rem;
  height: 30rem;
  margin: 2rem 0rem;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px #c5c5c5);
  transition: 0.5s ease-in-out;
}

.img-habitaciones {
  width: 40rem;
  height: 30rem;
  margin: 2rem 1rem;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px #c5c5c5);
  transition: 0.5s ease-in-out;
}

.img-inact {
  width: 4rem;
  height: 30rem;
  border-radius: 20px;
  filter: grayscale(0.8);
}
.img-inact:hover {
  width: 4.5rem;
  filter: grayscale(0);
}

.text-img-lahosteria-position {
  position: relative;
  top: 30rem;
  left: 2rem;
  z-index: 100;
  text-align: left;
}

.text-img-lahosteria {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.text-img-lahosteria-description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.img-logo-lahosteria {
  width: 2.5rem;
  position: relative;
  top: 12rem;
  left: 3.5rem;
  z-index: 100;
  transition: all 0.5s;
  filter: invert(100%);
}

.section-restaurant {
  background-image: url("../images/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.estrella {
  width: 2rem;
  margin: 0.5rem;
}

.puntaje-text {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  background-color: #aac750;
  font-family: "Montserrat", sans-serif;
}

.navegador {
  position: fixed;
  transition: 1s all;
  background: #3f3f3f;
  width: 4.5rem;
  height: 100%;
  padding: 0.3rem;
  z-index: 200;
}

.extrawidthnav {
  width: 20rem;
  box-shadow: 5px 0px #02aeee;
}

.menuiconcont {
  padding: 0 0 0 0.5rem;
}

.menutext {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  margin-left: 2rem;
  font-weight: 300;
  color: white;
  display: none;
  padding: 0.3rem;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.menutext:hover {
  filter: invert(50%) sepia(24%) saturate(7404%) hue-rotate(171deg) brightness(91%) contrast(103%);
}

.menutextcont {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.menuicon {
  width: 2.6rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.menuicon:hover {
  filter: invert(50%) sepia(24%) saturate(7404%) hue-rotate(171deg) brightness(91%) contrast(103%);
}

.menuicontrip {
  width: 2.6rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}

.menuiconlogo {
  width: 3rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 0.8rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav div img[title]:hover::after {
  content: attr(title);
  width: 10rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  transition: 0.5s all;
  background-color: #02aeee;
  color: white;
  position: absolute;
  left: 2rem;
  padding: 0.2rem;
  border-radius: 10px;
}

.navegador-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: white;
  font-weight: 600;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.estrellas {
  font-size: 0.8rem;
  position: relative;
  left: 0.5rem;
  bottom: 0.1rem;
  color: gold;
  animation: estrellacolor 8s infinite;
  animation-name: estrellacolor;
}
@keyframes estrellacolor {
  0% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
  10% {
    color: goldenrod;
    position: relative;
    bottom: 0.1rem;
  }
  20% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
  30% {
    color: goldenrod;
    position: relative;
    bottom: 0.1rem;
  }
  40% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
  50% {
    color: goldenrod;
    position: relative;
    bottom: 0.1rem;
  }
  60% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
  70% {
    color: goldenrod;
    position: relative;
    bottom: 0.1rem;
  }
  80% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
  90% {
    color: goldenrod;
    position: relative;
    bottom: 0.1rem;
  }
  100% {
    color: gold;
    position: relative;
    bottom: 0.3rem;
  }
}

.logowhatsapp {
  width: 1.2rem;
}

.fadegreen {
  transition: 0.5s all;
}
.fadegreen:hover {
  color: white;
  background-color: #5bad76;
  font-weight: 500;
  padding: 0rem 2rem;
  border-radius: 10px;
}

.imggrande {
  width: 100%;
  border-radius: 25px;
  transition: all 0.5s;
  margin: 2rem 0rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  filter: grayscale(0.8);
}
.imggrande:hover {
  filter: grayscale(0);
}

.blanco {
  color: white;
}

.backverde {
  background-color: #5bad76;
}

.leermas {
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.hide {
  transition: all 1s;
  display: none;
}

.show {
  transition: all 1s;
  display: block;
}

.sectionwa-subtit-cont {
  justify-content: center;
}

.input {
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  background-color: #5bad76;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
}

.input::placeholder {
  color: #c2c2c2;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.wadestacado {
  width: 5rem;
  padding: 0.2rem;
  margin: 1rem;
  background-color: #5bad76;
  font-size: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.watexto {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  line-height: 2rem;
}

.wabotonmensaje {
  width: 10rem;
  padding: 1rem;
  margin: 3rem 1rem 1rem 1rem;
  background-color: #5bad76;
  font-size: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
}
.wabotonmensaje:hover {
  background-color: #447e57;
}

.ff-ing-sal {
  justify-content: center;
}

.ff-ing-sal-text {
  position: relative;
  bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5bad76;
}

.input-ff {
  width: 20%;
  padding: 0.2rem;
  margin: 0rem 1rem;
  position: relative;
  bottom: 1rem;
  background-color: #447e57;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 0.6rem;
}

.wasendlogo {
  width: 1.5rem;
  z-index: 100;
  transition: all 0.5s;
  filter: invert(100%);
}

.gridimg {
  width: 60%;
  height: 20rem;
  object-fit: cover;
  margin: 0.1rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 15px;
  filter: grayscale(0.8);
}
.gridimg:hover {
  filter: grayscale(0);
  border: solid 1.5px #02aeee;
}

.gridimg2 {
  width: 30%;
  height: 20rem;
  object-fit: cover;
  margin: 0.1rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 15px;
  filter: grayscale(0.8);
}
.gridimg2:hover {
  filter: grayscale(0);
}

.rest-img-cont {
  justify-content: center;
}

.backgris {
  background: #2b2b2b;
}

/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* MOBILE */
/* Extends */
.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navegador, .menuiconcont, .sectionwa-subtit-cont, .ff-ing-sal, .rest-img-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

header, .columna, .puntaje-host-cont, .logoscont, .textcont {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* LISTAS */
/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {
  .none-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .seccion-nietos {
    height: 1200px;
    padding: 0px 5%;
  }
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  body .none-mobile {
    display: none !important;
  }

  .detalle-text {
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
    margin: 10px;
    padding: 0rem 1rem;
  }

  .titulos {
    font-size: 2rem;
    padding: 0rem 1rem;
  }

  .parrafo {
    padding: 5%;
  }

  .titulo-portada {
    font-size: 3rem;
    margin-top: 7rem;
    padding: 0 0.5rem;
    font-weight: 900;
  }

  .titulo {
    font-size: 2rem;
    padding: 0;
  }

  header {
    height: 750px;
  }

  .calendario {
    width: 5rem;
  }

  .seccion-blanca {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 1000px;
    padding: 0 3%;
  }

  .seccion-blanca-luchadoras {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding: 100px 5%;
  }

  .seccion-blanca-ll {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: fit-content;
    padding: 50px 3%;
  }

  .seccion-foto-1 {
    text-align: center;
    height: 550px;
    background-position: left;
    background-size: cover;
  }

  .recuadro {
    width: 90%;
    font-size: 0.95rem;
    padding: 5%;
    color: white;
    background-color: #0094dc;
  }

  .urna {
    width: 4rem;
  }

  .pie {
    width: 250px;
    height: 250px;
    background-image: conic-gradient(#db7b7b 51.75%, #8abbcf 51.75% 91.91%, #649173 91.91% 94.24%, #292929 94.24% 95.43%, #a390bd 95.43% 96.15%, #b6b6b6 96.15% 100%);
    border-radius: 50%;
    margin: 1rem;
  }

  .datos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    width: 90%;
    margin-left: 0rem;
  }

  .kkkk {
    font-size: 1rem;
  }

  .yyy {
    text-align: center;
  }

  .seccion-blanca-madres {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: 1200px;
    padding: 0% 5%;
  }

  .extraheight {
    height: 1750px;
  }

  .revextraheight {
    height: 1200px;
  }

  .botonmadabue {
    margin: 0.5rem 2rem;
  }

  .panuelomadres {
    margin: 1rem 1rem;
    width: 4rem;
    cursor: pointer;
  }

  .madretestpar {
    font-size: 1rem;
  }

  .extraheight {
    height: 1450px;
  }

  .revextraheight {
    height: 900px;
  }

  .seccion-blanca-organismos {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding: 50px 5%;
    background-color: white;
    color: #8ed8fb;
  }

  .imgorganismosddhh {
    width: 10rem;
    margin: 0.5rem;
  }

  .seccion-color-elec {
    height: fit-content;
    padding: 50px 5%;
  }

  .ucr {
    font-family: "Raleway", sans-serif;
    width: 80%;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
  }

  .pj {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 80%;
  }

  .pi {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 80%;
  }

  .mid {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 80%;
  }

  .af {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 80%;
  }

  .otros {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 80%;
  }

  .seccion-foto-urna {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 470px;
    background-position: left;
    background-size: cover;
  }

  .titulo2 {
    font-size: 2rem;
    filter: drop-shadow(3px 3px #0094dc);
  }

  .recmob {
    position: relative;
    right: 3rem;
  }

  .bigger {
    font-size: 1.1rem;
  }

  .carousel {
    width: 90%;
  }

  .carousel-caption {
    font-size: 1rem;
    text-shadow: 5px 5px 5px black;
  }

  .lower {
    font-size: 1.7rem;
  }

  .subtit {
    font-size: 1.5rem;
  }

  .rondacont {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
  }

  .rondagif {
    width: 15rem;
    filter: drop-shadow(1px 1px 250px #74668a);
  }

  .seccion-nietos {
    padding: 100px 5% 0 5%;
    height: fit-content;
  }

  .tt {
    height: fit-content;
    padding: 100px 5%;
  }

  .rondarecuadro {
    width: 80%;
  }

  .seccion-foto-madres {
    height: fit-content;
    padding: 100px 0;
  }

  .glosario-cont {
    margin-top: 2rem;
    padding: 0;
  }

  .parrafo-quiz {
    font-size: 1.3rem;
  }

  .detalle-text2 {
    font-size: 0.8rem;
  }

  .size1 {
    font-size: 1.1rem;
  }

  .glosario-card {
    width: 42%;
    text-align: center;
    margin: 0.2rem 0.5rem;
  }

  .glosarioadd {
    width: 90%;
  }

  .fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-2 {
    padding: 0% 5%;
  }

  .navegador {
    top: 60%;
    left: 90%;
  }

  nav a[title]:hover::after {
    left: -700%;
  }
}

/*# sourceMappingURL=style.css.map */
