@import '../funciones/mixins';
@import '../funciones/list';

*{
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 10px;
     }

    ::-webkit-scrollbar-thumb {
        background: nth($color, 3);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: rgb(238 234 244) 0px 0px 5px inset;
        border-radius: 10px;
    }

}

body {
    line-height: 1.55;
    width: 100%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;

}

nav {
    text-align: center;
}

// SECCIONES 

.section {
    height: fit-content;
    padding: 3rem 10rem; 
    text-align: center;

}

.fondoverde {
    background-color: nth($color, 6);
}

.fondoazul {
    background-color: nth($color, 5);
}

.columna {
    @extend %flexbox-column; 
}



// TEXTOS

.titulos {
    color: nth($color, 7);
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;

}

// SECCION LA HOSTERIA

.parrafos {
    font-size: 1.5rem;
    padding: 4rem 8rem;
    font-family: 'Montserrat', sans-serif;
}

.img-lahosteria-cont {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;


}

.img-lahosteria {
    width: 40rem;
    height: 30rem;
    margin: 2rem 0rem;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;

    filter: drop-shadow(5px 5px 10px rgb(197, 197, 197));

    transition: 0.5s ease-in-out;


}

.img-inact {
    width: 4rem;
    height: 30rem;
    border-radius: 20px;
    filter: grayscale(0.8);

    &:hover {
        width: 4.5rem;
        filter: grayscale(0);    
    }
}

.text-img-lahosteria-position {
    position: relative;
    top: 30rem;
    left: 2rem;
    z-index: 100;
    text-align: left;

}

.text-img-lahosteria {
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
font-weight: 700;
color: white;
}

.text-img-lahosteria-description {
font-family: 'Montserrat', sans-serif;
font-size: 0.8rem;
font-weight: 300;
color: white;

}

.img-logo-lahosteria {
    width: 2.5rem;
    position: relative;
    top: 12rem;
    left: 3.5rem;
    z-index: 100;
    transition: all 0.5s;

    filter: invert(100%);

}




// SECCION RESTAURANT

.section-restaurant {
    background-image: url('../images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.puntaje-host-cont {
    @extend %flexbox-column;
}

.estrella {
    width: 2rem;
    margin: 0.5rem;
}

.puntaje-text {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: nth($color, 4);
    font-family: 'Montserrat', sans-serif;
    
}


// NAVEGADOR

.navegador {
    @extend %flexbox-row;

    position: fixed;
    transition: 1s all;
    background: rgb(63, 63, 63);
    width: 4.5rem;
    height: 100%;
    padding: 0.3rem;
    z-index: 200;

}

.extrawidthnav {
    width: 20rem;
    box-shadow: 5px 0px nth($color, 2);
}

.menuiconcont {
    @extend %flexbox-row;
    padding: 0 0 0 0.5rem;
}

.logoscont {
    @extend %flexbox-column;
}

.textcont {
    @extend %flexbox-column;
    
}
.menutext {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 300;
    color: white;
    display: none;
    padding: 0.3rem;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        filter: invert(50%) sepia(24%) saturate(7404%) hue-rotate(171deg) brightness(91%) contrast(103%);

    }
}

.menutextcont {
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
}

.menuicon {
    width: 2.6rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        filter: invert(50%) sepia(24%) saturate(7404%) hue-rotate(171deg) brightness(91%) contrast(103%);

    }
}

.menuicontrip {
    width: 2.6rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    cursor: pointer;

}



.menuiconlogo {
    width: 3rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 0.8rem;
}



nav a {
    text-decoration: none;
    color: white;
}

nav div img[title]:hover::after {
    content: attr(title);
    width: 10rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    transition: 0.5s all;
    background-color: nth($color, 2);
    color: white;
    position: absolute;
    left: 2rem;
    padding: 0.2rem;
    border-radius: 10px;
  }

  .navegador-text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    color: white;
    font-weight: 600;
    writing-mode: vertical-rl;
    text-orientation:upright;
}

.estrellas {
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
    bottom: 0.1rem;
    color: gold;

    animation: estrellacolor 8s infinite;
    animation-name: estrellacolor;

    @keyframes estrellacolor {

        0% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
        }

        10% {
            color:goldenrod;
            position: relative;
            bottom: 0.1rem;
       }

        20% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
            
               }

        30% {
            color: goldenrod;
            position: relative;
            bottom: 0.1rem;
       }

        40% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
        }

        50% {
            color: goldenrod;
            position: relative;
            bottom: 0.1rem;
       }
        
        60% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
        }

        70% {
            color: goldenrod;
            position: relative;
            bottom: 0.1rem;
       }

        80% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
        }

        90% {
            color: goldenrod;
            position: relative;
            bottom: 0.1rem;
       }
        
        100% {
            color: gold;
            position: relative;
            bottom: 0.3rem;
        }
}}




// IMAGENES

.logowhatsapp {
    width: 1.2rem;
}



// EFECTOS

.fadegreen {
    transition: 0.5s all;

    &:hover {
        color: white;
        background-color: nth($color, 7);
        font-weight: 500;
        padding: 0rem 2rem;
        border-radius: 10px;

    }
}



// SECCION LAGO

.imggrande {
    width: 100%;
    border-radius: 25px;
    transition: all 0.5s;
    margin: 2rem 0rem;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    filter: grayscale(0.8);

    &:hover {
        filter: grayscale(0);    
    }

}



// COLORES DE TEXTO

.blanco {
    color: white;
}

.backverde {
background-color: #5bad76;
}


.leermas {
    font-size: 4rem;
    color: white;
    cursor: pointer;
}


.hide {
    transition: all 1s;
    display: none;
}

.show {
    transition: all 1s;
    display: block;
}


