@import '../funciones/mixins';
@import '../funciones/list';

*{
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 10px;
     }

    ::-webkit-scrollbar-thumb {
        background: nth($color, 3);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: rgb(238 234 244) 0px 0px 5px inset;
        border-radius: 10px;
    }

}

body {
    line-height: 1.55;
    width: 100%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;

}

nav {
    text-align: center;
}

// SECCIONES 

.section {
    height: fit-content;
    padding: 3rem 10rem; 
    text-align: center;
}

.green {
    background-color: nth($color, 4);
}

.columna {
    @extend %flexbox-column; 
}

// TEXTOS

.titulos {
    color: nth($color, 4);
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;

}

// SECCION LA HOSTERIA

.lahosteria-text {
    font-size: 1.5rem;
    padding: 5rem 5rem;
    font-family: 'Montserrat', sans-serif;

}

.img-lahosteria-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.img-lahosteria {
    width: 40rem;
    height: 30rem;
    margin: 2rem 0rem;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;

    filter: drop-shadow(5px 5px 10px rgb(197, 197, 197));

    transition: 0.5s ease-in-out;


}

.img-inact {
    width: 4rem;
    height: 30rem;
    border-radius: 20px;
    filter: grayscale(0.8);

    &:hover {
        width: 4.5rem;
        filter: grayscale(0);    
    }
}

.text-img-lahosteria-position {
    position: relative;
    top: 30rem;
    left: 2rem;
    z-index: 100;
    text-align: left;

}

.text-img-lahosteria {
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
font-weight: 700;
color: white;
}

.text-img-lahosteria-description {
font-family: 'Montserrat', sans-serif;
font-size: 0.8rem;
font-weight: 300;
color: white;

}

.img-logo-lahosteria {
    width: 4rem;
    position: relative;
    top: 12rem;
    left: 7rem;
    z-index: 100;
    transition: all 0.5s;

    filter: invert(100%);

}

.img-logo-lh-inact {
    width: 2.5rem;
    position: relative;
    top: 12rem;
    left: 3.5rem;
    z-index: 100;
    transition: all 0.5s;

    filter: invert(100%);

}



// SECCION RESTAURANT

.section-restaurant {
    background-image: url('../images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.puntaje-host-cont {
    @extend %flexbox-column;
}

.estrella {
    width: 2rem;
    margin: 0.5rem;
}

.puntaje-text {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: nth($color, 4);
    font-family: 'Montserrat', sans-serif;
    
}


// NAVEGADOR

.navegador {
    @extend %flexbox-row;
    text-align: center;
    position: fixed;
    top: 5rem;
    left: 2rem;
    width: 1.5rem;
    height: 15rem;
    padding: 0.2rem;
    border-radius: 15px;
    transition: 0.5s all;
    z-index: 100;

    opacity: 30%;

    &:hover {
        opacity: 100%;
    }
  
}
.cirinactive {
    opacity: 50%;
}

.menucirc {
    color: nth($color, 4);
    margin: 0.1rem;
    cursor: pointer;
    transition: 0.2s all;
    display: block;
    height: 1rem;
    font-size: 0.9rem;

    &:hover {
        opacity: 100%;
        color: nth($color, 2);
        font-size: 1rem;

    }
}

nav a {
    text-decoration: none;
    color: white;
}
nav a[title]:hover::after {
    content: attr(title);
    width: 10rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    transition: 0.5s all;
    background-color: nth($color, 2);
    color: white;
    position: absolute;
    left: 2rem;
    padding: 0.2rem;
    border-radius: 10px;
  }

  .navegador-text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    color: nth($color, 4);
    font-weight: 600;
    writing-mode: vertical-rl;
    text-orientation:upright;
}





// IMAGENES

.logowhatsapp {
    width: 1.2rem;
}



// EFECTOS

.fadegreen {
    transition: 0.5s all;

    &:hover {
        color: white;
        background-color: nth($color, 4);
        font-weight: 500;
        padding: 0rem 2rem;
        border-radius: 10px;

    }
}












