/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 600px) and  (max-width: 1200px) {

    .seccion-nietos {

        height: 1200px;
        padding: 0px 5%;
    }
 }


 @media only screen and (min-width: 100px) and  (max-width: 600px) {

body {

    .none-mobile {
        display: none !important;
    }
}
    .detalle-text {
        font-family: 'Raleway', sans-serif;
        font-size: 0.7rem;
        margin: 10px;
        padding: 0rem 1rem;
    }

    .titulos {
        font-size: 2rem;
        padding: 0rem 1rem;
    }

    .parrafo {
        padding: 5%;
    }

  .titulo-portada {
    font-size: 3rem;
    margin-top: 7rem;
    padding: 0 0.5rem;
    font-weight: 900;

  }

  .titulo {
      font-size: 2rem;
      padding: 0;
  }

  header {
    height: 750px;
}

.calendario {
    width: 5rem;
}

.seccion-blanca {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 1000px;
    padding: 0 3%;
}

.seccion-blanca-luchadoras {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding: 100px 5%;
}

.seccion-blanca-ll {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: fit-content;
    padding: 50px 3%;
}

.seccion-foto-1 {
    text-align: center;
    height: 550px;
    background-position:left;
    background-size: cover;
}

.recuadro {
    width: 90%;
    font-size: 0.95rem;
    padding: 5%;
    color: white;
    background-color: nth($color, 3);
}

.urna {
    width: 4rem;
}

.pie {
    width: 250px;
    height: 250px;
    background-image: conic-gradient(
    #db7b7b 51.75%, 
    #8abbcf 51.75% 91.91%, 
    #649173 91.91% 94.24%, 
    #292929 94.24% 95.43%,
    #a390bd 95.43% 96.15%,
    #b6b6b6 96.15% 100% );
    border-radius: 50%;
    margin: 1rem;
  }

  .datos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    width: 90%;
    margin-left: 0rem;

  }

  .kkkk {
      font-size: 1rem;
  }
  .yyy {
      text-align: center;
  }
.seccion-blanca-madres {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: 1200px;
    padding: 0% 5%;
}

.extraheight {
    height: 1750px;

}

.revextraheight {
    height: 1200px;
}

.botonmadabue {
    margin: 0.5rem 2rem;
}


.panuelomadres {
    margin: 1rem 1rem;
    width: 4rem;
    cursor: pointer;

}


.madretestpar {
   font-size: 1rem;
}

.extraheight {
    height: 1450px;

}

.revextraheight {
    height: 900px;
}


.seccion-blanca-organismos {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding: 50px 5%;
    background-color: white;
    color: nth($color, 1);
}

.imgorganismosddhh {
    width: 10rem;
    margin: 0.5rem;

}

.seccion-color-elec {
    height: fit-content;
    padding: 50px 5%;
}

.ucr {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}
.pj {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 80%;

  }

.pi {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 80%;

}

.mid {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 80%;

}

.af {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 80%;

}

.otros {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 80%;

}

.seccion-foto-urna {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 470px;
    background-position: left;
    background-size: cover;
}

.titulo2 {
    font-size: 2rem;
    filter: drop-shadow(3px 3px nth($color, 3));
}

.recmob {
    position: relative;
    right: 3rem;
}

.bigger {
    font-size: 1.1rem;
    }

.carousel {
    width: 90%;
}    

.carousel-caption {
    font-size: 1rem;
    text-shadow: 5px 5px 5px black;
}

.lower {
    font-size: 1.7rem;
    }

.subtit {
    font-size: 1.5rem;
}    

.rondacont {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
}

.rondagif {
    width: 15rem;
    filter: drop-shadow(1px 1px 250px #74668a);
}



.seccion-nietos {
    padding: 100px 5% 0 5%;
    height: fit-content;
}

.tt {
    height: fit-content;
    padding: 100px 5%;
}

.rondarecuadro {
    width: 80%;
}

.seccion-foto-madres {

    height: fit-content;
    padding: 100px 0;
   
}

.glosario-cont {
    margin-top: 2rem;
    padding: 0;
}

.parrafo-quiz {
    font-size: 1.3rem;

}

.detalle-text2 {
    font-size: 0.8rem;
}

.size1 {
    font-size: 1.1rem;
}

.glosario-card {
    width: 42%;
    text-align: center;
    margin: 0.2rem 0.5rem;
}

.glosarioadd {
    width: 90%;
}

.fila {        
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.footer-2 {
    padding: 0% 5%;
}

.navegador {
    top: 60%;
    left: 90%;

}

nav a[title]:hover::after {
    left: -700%;
  }
}
