/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 801px) and  (max-width: 1200px) {

    .seccion-nietos {

        height: 1200px;
        padding: 0px 5%;
    }
 }


 @media only screen and (min-width: 100px) and  (max-width: 800px) {

  
    .none-mobile {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none;
     }

    .section {
        height: fit-content;
        padding: 3rem 2rem; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   
    .navegador {
        @extend %flexbox-row;
        position: fixed;
        transition: 1s ease-in-out;
        background: rgb(63, 63, 63, 0%);
        height: 20rem;
        padding: 0rem;
        z-index: 600;
    }

    .extrawidthnav {
        width: 100%;
        box-shadow: none;
    }
    .menuiconlogo {
        display: none;
    }

    .menuiconlogo2 {
        display: block;
        width: 2rem;
        position: fixed;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    .menuiconlogo2click {
        filter: invert(100%);
        transform: rotate(179.9deg);

    } 
    
    .logoscont {
        display: none;
        position: fixed;
        top: 7rem;
        left: 5rem;
    }


    .navegadormobile {
        background: rgb(63, 63, 63);
        height: 50rem;
        width: 100%;
        transition: 1s ease-in-out;

    }

    .show {
        display: inline;
    }

    

    .textcont {
        position: fixed;
        top: 7rem;
        left: 7rem;
        
    }


    .cerrarmenu {
        display: none;
    }


    .titulos {
        font-size: 2rem;
    }

    .parrafos {
        font-size: 1rem;
        padding: 0rem;
    }

    .logo-portada {
        width: 70%;
        margin-top: 12rem;
    }

    .rest-img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

    .whatsapp-button {
        font-size: 0.8rem;
    }

    .logowhatsapp {
        width: 0.8rem;
    }

    .gridimg {
        height: 10rem;
        margin: 0rem;
        filter: grayscale(0);

    }

    .gridimg2 {
        height: 10rem;
        margin: 0rem;
        filter: grayscale(0);

    }

    .carousel-item{
        height: 25rem;
    } 
    .carousel-item img{
        height: 25rem;
        object-fit: cover;

    }
  

    .textomenuqr {
        font-size: 1rem;
    }

    .imggrande {
        width: 100%;
        height: 15rem;
    }

    .section-lago {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8rem 2rem; 

    
    }

    .lagoepuyentext {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        position: relative;
        bottom: 0rem;
        z-index: 500;
        padding: 0rem;
    }

    .img-inact {
        filter: grayscale(0);
    }
    
    .img-logo-lago {
        width: 1.5rem;
    }

    .tripsect2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem 2rem;

    }

    .fila {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .puntajes-sec {
        margin-top: 3rem;
    }

    .subtit-trip {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .titulo-trip {
        font-size: 1.5rem;
    }


    .mapa {

        width: 1rem;
        
    }
    
    .googlemaps {
        position: fixed;
        top: 8rem;
        right: 1rem;
        width: 90%;
    }

    
    .flashtextmap {
        position: absolute;
        top: 1rem;
        right: 10rem;
        color: grey;
        background-color: rgb(255, 255, 255, 50%);
        border-radius: 10px;
        padding: 0.3rem;
        font-size: 0.5rem;
        font-family: 'Montserrat', sans-serif;
    }
    
    .mapatext {
        right: 1rem;
        top: 3rem;
        padding: 0.5rem;
        border-radius: 10px;
        background:none;
        border: none;
        font-size: 0.8rem;
        &:hover {
            background-color: nth($color, 8);
            color: white;
        }
    }

    .pablitocont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

    .parrafospeq {
        font-size: 1rem;
        padding: 2rem 0rem;
        font-family: 'Montserrat', sans-serif;
    }

    .videopablito {
        width: 95%;
        height: 10rem;
    }

    .pablitologo {
        width: 5rem;
    }

    .pablitoimg {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        margin-top: 2rem;
        border-radius: 300px;
        }

    .redes {
        display: flex;
        flex-direction: column;
        text-align: right !important;
        top: 1rem;
    }

    .redes2 {
        top: 5.3rem;
        right: 1.1rem;


    }

    .facebook {
        margin-left: 0.1rem;
        width: 2rem;
    }


    //GALERIA

    .img-lahosteria-cont {
        flex-direction: column;
    
    }


    .img-resto {
        width: 90%;
        height: 25rem;
        margin: 0.2rem 1rem;
        border-radius: 10px;

    }
.img-habitaciones {
    width: 90%;
    height: 25rem;
    margin: 0.2rem 1rem;
    border-radius: 10px;

}

.img-lahosteria {
    width: 90%;
    height: 25rem;
    margin: 0.2rem 1rem;
    border-radius: 10px;
}
    .img-inact {
        width: 90%;
        height: 3rem;
        border-radius: 10px;

        filter: grayscale(0.8);
    
        &:hover {
            filter: grayscale(0);    
        }
    }

 }
