/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 801px) and  (max-width: 1200px) {

    .seccion-nietos {

        height: 1200px;
        padding: 0px 5%;
    }
 }


 @media only screen and (min-width: 100px) and  (max-width: 800px) {

    body {
        overflow-x: hidden;
    }
    .none-mobile {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none;
     }

    .section {
        height: fit-content;
        padding: 3rem 2rem; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   
    .navegador {
        @extend %flexbox-row;
        position: fixed;
        transition: 1s ease-in-out;
        background: rgb(63, 63, 63, 0%);
        width: 4.5rem;
        height: 20rem;
        padding: 0rem;
        z-index: 600;
    }


    .menuiconlogo {
        display: none;
    }

    .menuiconlogo2 {
        display: block;
        width: 2rem;
        position: fixed;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    .menuiconlogo2click {
        filter: invert(100%);
        transform: rotate(179.9deg);

    } 
    
    .logoscont {
        display: none;
        position: fixed;
        top: 7rem;
        left: 5rem;
    }


    .navegadormobile {
        background: rgb(63, 63, 63);
        height: 50rem;
        width: 100%;
        transition: 1s ease-in-out;

    }

    .show {
        display: inline;
    }

    

    .textcont {
        position: fixed;
        top: 7rem;
        left: 7rem;
        
    }


    .cerrarmenu {
        display: none;
    }


    .titulos {
        font-size: 2rem;
    }

    .parrafos {
        font-size: 1rem;
        padding: 0rem;
    }

    .logo-portada {
        width: 70%;
        margin-top: 12rem;
    }

    .rest-img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

    .whatsapp-button {
        font-size: 0.8rem;
    }

    .logowhatsapp {
        width: 0.8rem;
    }

    .gridimg {
        width: 100%;
        margin: 0.2rem;
    }

    .gridimg2 {
        width: 100%;
        margin: 0.2rem;
    }

    .textomenuqr {
        font-size: 1rem;
    }

    .imggrande {
        width: 100%;
        height: 15rem;
    }

    .section-lago {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8rem 2rem; 

    
    }

    .lagoepuyentext {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        position: relative;
        bottom: 0rem;
        z-index: 500;
        padding: 0rem;
    }
    
    .img-logo-lago {
        width: 1.5rem;
    }

    .tripsect2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .fila {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .puntajes-sec {
        margin-top: 3rem;
    }

    .subtit-trip {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .titulo-trip {
        font-size: 1.5rem;
    }


    
 }
