@import '../funciones/mixins';
@import '../funciones/list';



.boton-container {
    @extend %flexbox;
    height:600px;
    transition: 1s all;
}


.boton-1 {
    color: white;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    align-content: center;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
    text-shadow: 10px 1px 25px black;
    
}