

header {
    height: 750px;
    width: 100%;
    @extend %flexbox-column;
    background-image: url('../images/portada-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-portada {
    width: 25rem;
    margin-top: 7rem;
    transition: 0.5s all;
    
    &:hover {
        animation: borderglow 10s infinite;
        animation-name: borderglow;
        
            @keyframes borderglow {
        
                0% {
                    filter: blur(2px);
                }
        
                10% {
                    filter: blur(0px);
                }
        
                20% {
                    filter: blur(2px);
                }
        
                30% {
                    filter: blur(0px);
                }
        
                40% {
                    filter: blur(2px);
                }
        
                50% {
                    filter: blur(0px);
                }
                
                60% {
                    filter: blur(2px);
                }
        
                70% {
                    filter: blur(0px);
                }
        
                80% {
                    filter: blur(2px);
                }
        
                90% {
                    filter: blur(0px);
                }
                
                100% {
                    filter: blur(2px);
                }
            }
    }
}

.redes {
    display: flex;

    flex-direction: row;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.redes2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 1.2rem;
    top: 4rem;
}


.whatsapp-button {

    padding: 0.5rem;
    color: black;
    border-radius: 10px;
    font-weight: 800;
    margin-left: 0.5rem;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: nth($color, 8);
        color: white;
    }
}





// IMAGENES

.logowhatsapp {
    width: 1.2rem;
}


.ubicacioncont {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

.mapa {

    width: 1.2rem;
    
}

.googlemaps {
    position: fixed;
    top: 4rem;
    right: 7rem;
    transition: ease-in-out 1s;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    width: 25rem;
    height: 25rem;

}

    
.flashtextmap {
    position: absolute;
    top: 1.2rem;
    right: 28rem;
    color: grey;
    background-color: rgb(255, 255, 255, 50%);
    border-radius: 10px;
    padding: 0.3rem;
    font-size: 0.6rem;
    font-family: 'Montserrat', sans-serif;
}

.mapatext {
    color: black;
    font-weight: 800;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;

    padding: 0.5rem;
    border-radius: 10px;
    background:none;
    border: none;

    &:hover {
        background-color: nth($color, 8);
        color: white;
    }
}

.facebook {
    width: 2.5rem;
    margin-left: 0.5rem;
    transition: all 0.5s;
    border-radius: 10px;
    padding: 0.3rem;
    cursor: pointer;


    &:hover {
        background-color: nth($color, 8);
    }
}

.backwa {
margin: 10rem 0rem 10rem 0rem;

}


.cerrarmenu {
    color: nth($color, 7);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 4.5rem;
    bottom: 2rem;
    width: 10rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        color: rgb(223, 92, 92);

    }

    
}