

header {
    height: 750px;
    width: 100%;
    @extend %flexbox-column;
    background-image: url('../images/portada-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-portada {
    width: 25rem;
    margin-top: 7rem;
    
}

.whatsapp-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    color: black;
    border-radius: 10px;
    font-weight: 800;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: nth($color, 8);
        color: white;
    }
}
